<ion-header>
  <ion-toolbar mode='ios'>
    <ion-title>
      我创建的班课
    </ion-title>
    <ion-buttons slot="end" size='large'>
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="add-outline" size='large'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines='full' *ngIf="courses_length">
    <ion-item *ngFor="let item of courses; let i=index" routerLink="/exam-class" [queryParams]="{course_id:item.courseID,course_name:item.courseName}">
      <ion-note class="ion-no-margin ion-margin-vertical" slot="start" >
        {{i+1}}
      </ion-note>
      <ion-thumbnail slot="start">
        <img src="../../../../assets/img/class_icon.png">
      </ion-thumbnail>
      <ion-avatar slot="end">
        <ion-button fill='clear'>
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-avatar>
      <ion-label>
        <h2>{{item.courseName}}</h2>
        <p>{{item.classLocation}}</p>
        <p>{{item.classDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.classOrder}}&nbsp;节</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-explore-container *ngIf="!courses_length"></app-explore-container>
</ion-content>