.no-margin-right{
    margin-right: 0px;
}
.font-size{
    font-size: 14px;
    padding-bottom: 17px;
}
.input-label {
    font-size: 14px;
    text-align:right;
}
.label-padding{
    padding-left: 10%;
}