<ion-header no-border>
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab3" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>个人信息</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEdit()" *ngIf="!isEdit" fill="clear">编辑</ion-button>
      <ion-button (click)="onSubmit()" *ngIf="isEdit" fill="clear">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isEdit">
    <ion-list inset="true">
      <ion-item >
        <ion-label>姓名</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.name}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>学号</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.userNo}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>身份</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.identity}}</ion-note>
      </ion-item>
    </ion-list>
    <ion-list inset="true" *ngIf="isStudent">
      <ion-item >
        <ion-label>学校</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.School}}</ion-note>
      </ion-item>
      <ion-item >
        <ion-label>专业</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.Major}}</ion-note>
      </ion-item>
      <ion-item >
        <ion-label>班级</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.Class}}</ion-note>
      </ion-item>
    </ion-list>  
  </div>

  <div *ngIf="isEdit">
    <ion-list inset="true">
      <ion-item>
        <ion-label class="label-padding">姓名</ion-label>
        <ion-input slot="end" [(ngModel)]="loginUser.name" class="input-label"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>学号</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.userNo}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>身份</ion-label>
        <ion-note slot="end" class="font-size">{{loginUser.identity}}</ion-note>
      </ion-item>
    </ion-list>
    <ion-list inset="true" *ngIf="isStudent">
      <ion-item >
        <ion-label class="label-padding">学校</ion-label>
        <ion-input slot="end" [(ngModel)]="loginUser.School" class="input-label"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label class="label-padding">专业</ion-label>
        <ion-input slot="end" [(ngModel)]="loginUser.Major" class="input-label"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label class="label-padding">班级</ion-label>
        <ion-input slot="end" [(ngModel)]="loginUser.Class" class="input-label"></ion-input>
      </ion-item>
    </ion-list>  
  </div>
</ion-content>
