<ion-header class="ion-no-border">
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login-in" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSendPwd()" #pwdForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="fixed">新密码</ion-label>
        <ion-input name="pwd" type="password" required [(ngModel)]="user.pwd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">确认密码</ion-label>
        <ion-input name="cpwd" type="password" required [(ngModel)]="user.cpwd"></ion-input>
      </ion-item>
      <ion-text text-left color="danger" *ngIf="pwdForm.submitted">
        <p [hidden]="pwdIsSame" class="tips ion-padding-start">两次密码不一致</p>
      </ion-text>
      <div class="ion-padding">
        <ion-button type="submit" expand="block" [disabled]="pwdForm.invalid" mode='ios'>提交</ion-button>
      </div>
    </ion-list>
  </form>

</ion-content>