<ion-header class="ion-no-border">
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login-in" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>输入需要修改密码的账号及新密码</p>
  <form (ngSubmit)="onSendPwd()" #pwdForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="fixed">手机号</ion-label>
        <ion-input name="forgotPhone" type="number" required
          pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" [(ngModel)]="user.forgotPhone"
          #forgotPhone="ngModel">
        </ion-input>
        <ion-text class="ion-text-left" color="danger" *ngIf="(forgotPhone.invalid && forgotPhone.touched)">
          <p class="tips ion-padding-start" [hidden]="!forgotPhone.errors?.required">
            手机号不能为空
          </p>
          <p class="tips ion-padding-start" [hidden]="!forgotPhone.errors?.pattern">
            您输入的手机号格式不正确
          </p>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">用户密码</ion-label>
        <ion-input name="pwd" type="password" required [(ngModel)]="user.pwd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">确认密码</ion-label>
        <ion-input name="cpwd" type="password" required [(ngModel)]="user.cpwd"></ion-input>
      </ion-item>
      <ion-text text-left color="danger" *ngIf="pwdForm.submitted">
        <p [hidden]="pwdIsSame" class="tips ion-padding-start">两次密码不一致</p>
      </ion-text>
      <div padding-horizontal>
        <ion-button type="submit" expand="full" [disabled]="pwdForm.invalid" mode='ios'>提交</ion-button>
      </div>
    </ion-list>
  </form>

</ion-content>