.logo {
    width: 33%;
  }
  .line {
    height: 1px;
    // border: none;
    width: 100%;
    // border-top: 1px solid #E66B1A;
    background-color: #cccccc;
  }
  .full-width {
    width: 100%;
  }
  .margintop {
    margin-top: 21px;
  }
  .margintop-input {
    margin-top: 11px;
  }
  .fillet-boder {
    border: 2px solid #cccccc;
    border-radius: 6px;
  }
  .tips {
    font-size: small;
  }