<ion-header>
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" (click)="onBack()" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSignupIformation(imformationForm)" #imformationForm="ngForm" validating class="ion-margin">
    <ion-input name="subject" slot="start" placeholder="请输入课程名称(智能技术)" required maxlength="15" [(ngModel)]="signup.subject"
      #subject="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(subject.invalid && subject.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!subject.errors?.required">
        请输入课程名称
      </p>
    </ion-text>

    <ion-input name="school" slot="start" placeholder="请输入学校(福州大学)" required maxlength="20" [(ngModel)]="signup.school"
      #school="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(school.invalid && school.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!school.errors?.required">
        请输入学校
      </p>
    </ion-text>

    <ion-input name="classroom" slot="start" placeholder="上课教室(东三304)" required maxlength="20" [(ngModel)]="signup.classroom"
      #classroom="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(classroom.invalid && classroom.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!classroom.errors?.required">
        请输入上课教室
      </p>
    </ion-text>

    <ion-input name="courseDay" slot="start" placeholder="请输入星期几上课(星期一)" required [(ngModel)]="signup.courseDay" #courseDay="ngModel"
      class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(courseDay.invalid && courseDay.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!courseDay.errors?.required">
        请输入星期几上课
      </p>
    </ion-text>

    <ion-input name="start_time" slot="start" placeholder="开始上课节数(3)" required [(ngModel)]="signup.start_time" #start_time="ngModel"
      class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(start_time.invalid && start_time.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!start_time.errors?.required">
        请输入开始上课节数
      </p>
    </ion-text>

    <ion-input name="end_time" slot="start" placeholder="结束上课节数(4)" required [(ngModel)]="signup.end_time" #end_time="ngModel"
      class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(end_time.invalid && end_time.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!end_time.errors?.required">
        请输入结束上课节数
      </p>
    </ion-text>

    <ion-input name="object" slot="start" placeholder="上课对象(2015级计算机类)" required maxlength="20"
      [(ngModel)]="signup.object" #object="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(object.invalid && object.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!object.errors?.required">
        请输入上课对象
      </p>
    </ion-text>

    <ion-input name="start_week" slot="start" placeholder="开始周(1)" required maxlength="5" [(ngModel)]="signup.start_week"
      #start_week="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger"
      *ngIf="(start_week.invalid && start_week.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!start_week.errors?.required">
        请输入开始周
      </p>
    </ion-text>

    <ion-input name="end_week" slot="start" placeholder="结束周(16)" required maxlength="5" [(ngModel)]="signup.end_week"
      #end_week="ngModel" class="margintop fillet-boder"></ion-input>
    <ion-text class="ion-text-left" color="danger" *ngIf="(end_week.invalid && end_week.touched) || signup.submited">
      <p class="tips ion-padding-start" [hidden]="!end_week.errors?.required">
        请输入结束周
      </p>
    </ion-text>

    <ion-button type="submit" expand="full" color="primary" class="margintop fillet-boder">提交
    </ion-button>

  </form>

</ion-content>