<ion-header class="ion-no-border">
  <ion-toolbar mode='ios' color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exam-class" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>创建签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="div3">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
      <ion-item color="primary">
        <div class="div1">
          <div id='patternHolder' class="div2"></div>
        </div>
      </ion-item>
      <ion-button class="ion-margin" shape='round' color="success" expand="block" mode='ios' type="submit" [disabled]="postForm.invalid">
        开始签到
      </ion-button>
    </form>
  </div>
  
</ion-content>
