<div style="margin-top:30px;">
  <nz-row>
      <nz-col nzSpan="8">
          <div style="margin-left:10px">
              <button nz-button nzType = "primary" >
                  <i nz-icon type="plus"></i>     
                  创建
               </button>
          </div>
          <!-- <div style="float: right">
              <nz-upload>
                  <button nz-button nzType = "primary"><i nz-icon type="upload"></i>
                      导入名单
                  </button>
              </nz-upload>
          </div> -->
      </nz-col>
      <nz-col nzSpan="8" nzOffset="8">
          <div style="width:60%;margin-left: 40%">
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                          <input type="text" nz-input placeholder="input search text" />
                  </nz-input-group>  
                  <ng-template #suffixIconButton>
                          <button nz-button nzType="primary" nzSearch><i nz-icon type="search"></i></button>
                  </ng-template>
          </div>
      </nz-col>
  </nz-row>
  <div style="margin-top:20px">
          <nz-table #basicTable [nzData]="dataSet">
                  <thead > 
                      <tr>
                          <th style="text-align:center"><strong>id</strong></th>
                          <th style="text-align:center"><strong>学号</strong></th>
                          <th style="text-align:center"><strong>姓名</strong></th>
                          <!-- <th style="text-align:center"><strong>密码</strong></th> -->
                          <th style="text-align:center"><strong>班级</strong></th>
                          <th style="text-align:center"><strong>专业</strong></th>
                          <th style="text-align:center"><strong>角色</strong></th>
                          <th style="text-align:center"><strong>操作</strong></th>
                      </tr>
                  </thead>
                  <!-- <tbody>
                      <tr *ngFor="let data of basicTable.data">
                          <td>{{data.name}}</td>
                          <td>{{data.age}}</td>
                          <td>{{data.address}}</td>
                          <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                          </td>
                      </tr>
                  </tbody> -->
              </nz-table>
  </div>
  <div style="margin-top:20px;text-align: center" >
      <nz-pagination [nzPageIndex]="1" [nzTotal]="100"></nz-pagination>
  </div>
 
        
</div>