<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="signup">
  <div>
    <div class="ion-text-center">
      <img class="logo" src="assets/img/signup/logo.png" alt="" />
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            src="assets/img/signup/registered_one.png" alt="" *ngIf="slideIndex !== 0"/>
          <img
            src="assets/img/signup/registered_one_one.png" alt="" *ngIf="slideIndex === 0"/>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <hr class="line" />
        </ion-col>
        <ion-col>
          <img
            src="assets/img/signup/registered_two.png" alt="" *ngIf="slideIndex !== 1"/>
          <img
            src="assets/img/signup/registered_two_two.png" alt="" *ngIf="slideIndex === 1"/>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <hr class="line" />
        </ion-col>
        <ion-col>
          <img
            src="assets/img/signup/registered_three.png" alt="" *ngIf="slideIndex !== 2"/>
          <img
            src="assets/img/signup/registered_three_three.png" alt="" *ngIf="slideIndex === 2"/>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <hr class="line" />
        </ion-col>
        <ion-col>
          <img
            src="assets/img/signup/register_four.png" alt="" *ngIf="slideIndex !== 3"/>
          <img
            src="assets/img/signup/register_four_four.png" alt="" *ngIf="slideIndex === 3"/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides #signupSlides>
      <ion-slide>
        <form
          (ngSubmit)="onSignupPhone(phoneForm)"
          #phoneForm="ngForm"
          novalidate
          style="width:87%;">
          <ion-input
            name="phone"
            type="number"
            placeholder="请输入您的手机号码"
            required
            pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$"
            [(ngModel)]="signup.phone"
            #phone="ngModel"
            class="margintop fillet-boder"
          >
          </ion-input>
          <!-- 如果输入框被点击过并且输入不合法，就显示警告 -->
          <ion-text class="ion-text-left" color="danger" *ngIf="(phone.invalid && phone.touched) || submited">
            <p class="tips ion-padding-start" [hidden]="!phone.errors?.required">
              手机号不能为空
            </p>
            <p class="tips ion-padding-start" [hidden]="!phone.errors?.pattern">
              您输入的手机号格式不正确
            </p>
          </ion-text>
          <ion-button type="submit" expand="full" color="primary" class="margintop fillet-boder" 
            [disabled]="phoneForm.invalid">下一步
          </ion-button>
        </form>
      </ion-slide>

      <ion-slide>
        <form
          (ngSubmit)="onSignupCode(codeForm)"
          #codeForm="ngForm"
          validating
          style="width:90%;">
          <ion-input
            name="code"
            slot="start"
            placeholder="请输入验证码"
            required
            [(ngModel)]="signup.code"
            #code="ngModel"
            class="margintop fillet-boder"
            style="width: 63%; height: 39px;float: left;"
          ></ion-input>
          <ion-button
            color="primary"
            slot="end"
            class="margintop"
            [disabled]="verifyCode.disable"
            style="width: 35%;"
            (click)="onSendSMS()"
            >{{ verifyCode.verifyCodeTips }}
          </ion-button>
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(code.invalid && code.touched && verifyCode.sended) ||
                   (verifyCode.submited && !verifyCode.verifyCodeResult) ">
            <p class="tips ion-padding-start" [hidden]="!code.errors?.required">
              请输入验证码
            </p>
            <p class="tips ion-padding-start"
               [hidden]="!(verifyCode.submited && !verifyCode.verifyCodeResult) ||
                         code.errors?.required">
              请输入正确的验证码
            </p>
          </ion-text>
          <ion-button
            type="submit"
            expand="full"
            color="primary"
            class="margintop fillet-boder"
            >下一步
          </ion-button>
          <ion-button
            expand="full"
            color="primary"
            class="margintop fillet-boder"
            (click)="onPrevious()"
            >上一步
          </ion-button>
        </form>
      </ion-slide>
      <ion-slide>
        <form
          (ngSubmit)="onSignupIformation(imformationForm)"
          #imformationForm="ngForm"
          validating
          style="width:90%;"
        >
          <ion-input
            name="name" 
            slot="start"
            placeholder="请输入真实姓名"
            required
            maxlength="8"
            [(ngModel)]="signup.name"
            #name="ngModel"
            class="margintop fillet-boder"
          ></ion-input>
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(name.invalid && name.touched) || signup.submited">
            <p
              class="tips ion-padding-start"
              [hidden]="!name.errors?.required">
              请输入真实姓名
            </p>
          </ion-text>

          <ion-input
          name="identity" 
          slot="start"
          placeholder="请输入身份（学生/教师）"
          required
          maxlength="2"
          [(ngModel)]="signup.identity"
          #identity="ngModel"
          class="margintop fillet-boder"
        ></ion-input>
        <ion-text
          class="ion-text-left"
          color="danger"
          *ngIf="(identity.invalid && identity.touched) || signup.submited">
          <p
            class="tips ion-padding-start"
            [hidden]="!identity.errors?.required">
            请输入身份
          </p>
        </ion-text>

        <ion-input
        name="userNo" 
        slot="start"
        placeholder="请输入学号或工号"
        required
        maxlength="20"
        [(ngModel)]="signup.userNo"
        #userNo="ngModel"
        class="margintop fillet-boder"
      ></ion-input>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="(userNo.invalid && userNo.touched) || signup.submited">
        <p
          class="tips ion-padding-start"
          [hidden]="!userNo.errors?.required">
          请输入学号或工号
        </p>
      </ion-text>

      

          <ion-input
            name="school" 
            slot="start"
            placeholder="请输入学校"
            [(ngModel)]="signup.school"
            #school="ngModel"
            class="margintop fillet-boder"
          ></ion-input>
          <!-- <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(school.invalid && school.touched) || signup.submited">
            <p
              class="tips ion-padding-start"
              [hidden]="!school.errors?.required">
              请输入学校
            </p>
          </ion-text> -->

         

          <ion-input
            name="major" 
            slot="start"
            placeholder="请输入专业(计算机技术)"
            [(ngModel)]="signup.major"
            #major="ngModel"
            class="margintop fillet-boder"
          ></ion-input>
          <!-- <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(major.invalid && major.touched) || signup.submited">
            <p
              class="tips ion-padding-start"
              [hidden]="!major.errors?.required">
              请输入专业
            </p>
          </ion-text> -->
          
          <ion-input
            name="class" 
            slot="start"
            placeholder="请输入班级(2019级计算机技术2班)"
            [(ngModel)]="signup.class"
            #class="ngModel"
            class="margintop fillet-boder"
          ></ion-input>
          <!-- <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(class.invalid && class.touched) || signup.submited">
            <p
              class="tips ion-padding-start"
              [hidden]="!class.errors?.required">
              请输入班级
            </p>
          </ion-text> -->

        <ion-input
          name="sex" 
          slot="start"
          placeholder="请输入性别（男/女）"
          [(ngModel)]="signup.sex"
          #sex="ngModel"
          class="margintop fillet-boder"
        ></ion-input>
        <!-- <ion-text
          class="ion-text-left"
          color="danger"
          *ngIf="(sex.invalid && sex.touched) || signup.submited">
          <p
            class="tips ion-padding-start"
            [hidden]="!sex.errors?.required">
            请输入性别
          </p>
          <p class="tips ion-padding-start" [hidden]="!sex.errors?.pattern">
            您输入的性别格式不正确
          </p>
        </ion-text> -->

          <ion-input
            name="email"
            type="email"
            slot="start"
            placeholder="请输入电子邮箱"
            [(ngModel)]="signup.email"
            #email="ngModel"
            class="margintop-input fillet-boder"
          ></ion-input>
          <!-- <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="(email.invalid && email.touched) || signup.submited">
            <p
              class="tips ion-padding-start"
              [hidden]="!email.errors?.required">
              请输入电子邮箱
            </p>
            <p class="tips ion-padding-start" [hidden]="!email.errors?.pattern">
              您输入的电子邮箱格式不正确
            </p>
          </ion-text> -->

          <ion-button
            type="submit"
            expand="full"
            color="primary"
            class="margintop fillet-boder"
            >下一步
          </ion-button>
          <ion-button
            expand="full"
            color="primary"
            class="margintop fillet-boder"
            (click)="onPrevious()"
            >上一步
          </ion-button>
        </form>
      </ion-slide>
      <ion-slide>
        <div style="width:90%;">
          <h1>注册成功</h1>
          <ion-button
            expand="full"
            color="primary"
            class="margintop fillet-boder"
            href="login-in">
            登录
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
