<ion-header>
  <ion-toolbar mode='ios'>
    <ion-title>注册</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">  
    <ion-item mode='ios'>
      <ion-label position="stacked">以下为必填项&nbsp;<ion-text color="danger">*</ion-text></ion-label>
      <ion-input placeholder="用户名" [(ngModel)]="signup.username"></ion-input>
      <ion-input type='number' placeholder="手机号" [(ngModel)]="signup.tel"></ion-input>
      <ion-input type='number' placeholder="学号/工号" [(ngModel)]="signup.userNo"></ion-input>
      <ion-input placeholder="姓名" [(ngModel)]="signup.name"></ion-input>
      <ion-input type='password' placeholder="密码" [(ngModel)]="signup.password"></ion-input> 
      <ion-input type='password' placeholder="确认密码" [(ngModel)]="signup.confirmPassword"></ion-input>
    </ion-item>
    <ion-item mode='ios'>
      <ion-label>身份&nbsp;<ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)='onChangeIdentity($event)' [(ngModel)]="signup.identity" value='student' interface="action-sheet">
        <ion-select-option value='teacher'>教师</ion-select-option>
        <ion-select-option value='student'>学生</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item mode='ios' [hidden]="!isStudent">
      <ion-label position="stacked">以下为选填项</ion-label>
      <ion-input placeholder="学校" [(ngModel)]="signup.school"></ion-input>
      <ion-input placeholder="专业" [(ngModel)]="signup.major"></ion-input>
      <ion-input placeholder="班级" [(ngModel)]="signup.class"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button (click)="onSubmit()" expand="block" class="ion-no-margin">
      提交
     </ion-button>   
  </div>
</ion-footer>