.label1{
    margin-left: 15px;
}
.label2{
    width: fit-content;
    // margin-right: 10px;
    // margin-left: 200px;
}
.p1{
    font-weight: lighter;
    margin-bottom: 2px;
    padding-right: 20px;
}
.font1{
    font-size: smaller;
}