<ion-header >
  <ion-toolbar mode='ios'>
    <ion-title>
      我加入的班课
    </ion-title>
    <ion-buttons slot="end" size='large'>
      <ion-icon name="add-outline" size='large'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list lines='full'>
   <ion-item *ngFor="let item of course" routerLink="/view-class" [queryParams]="{course_id:item.id}">
    <ion-avatar slot="end">
      <ion-button fill='clear'>
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-avatar>
    <ion-label>
      <h2>{{item.subject}}</h2>
      <p>{{item.teacherName}}&nbsp;&nbsp;&nbsp;{{item.object}}</p>
    </ion-label>
   </ion-item>
 </ion-list>
 <app-explore-container *ngIf="!course_length"></app-explore-container>
</ion-content>
