<div style="margin-top:30px;">
  <nz-row>
      <nz-col nzSpan="8">
          <div style="margin-left:10px">
              <button nz-button nzType = "primary" (click)="addUseropen()">
                <i class="fa fa-plus"></i>     
                  创建
               </button>
          </div>
          <!-- <div style="float: right">
              <nz-upload>
                  <button nz-button nzType = "primary"><i nz-icon type="upload"></i>
                      导入名单
                  </button>
              </nz-upload>
          </div> -->
      </nz-col>
      <nz-col nzSpan="8" nzOffset="8">
          <div style="width:60%;margin-left: 40%">
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                          <input type="text" nz-input placeholder="输入学生学号或姓名"  name = "search" [(ngModel)] = "searchUserbyNumber"/>
                  </nz-input-group>  
                  <ng-template #suffixIconButton>
                          <button nz-button nzType="primary" nzSearch (click)="SearchUser()" ><i nz-icon type="search"></i></button>
                  </ng-template>
          </div>
      </nz-col>
  </nz-row><!-- [nzData]="dataSet"  -->
  <nz-divider></nz-divider>
  <div style="margin-top:20px">
          <!-- nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="listOfData"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)"> -->
            <nz-table
              #basicTable
              [nzShowQuickJumper] = true
              [nzTotal] = "total"
              [nzData]="listOfAllData"
              (nzCurrentPageDataChange)="currentPageDataChange($event)"
            > 
                  <thead > 
                      <tr>
                          <th
                          nzShowCheckbox
                          [(nzChecked)]="isAllDisplayDataChecked"
                          [nzIndeterminate]="isIndeterminate"
                          (nzCheckedChange)="checkAll($event)"
                          ></th>
                          <!-- <th nzShowSort nzSortKey="name" style="text-align:center"><strong>id</strong></th> -->
                          <th style="text-align:center"><strong>学号</strong></th>
                          <th style="text-align:center"><strong>姓名</strong></th>
                          <!-- <th style="text-align:center"><strong>密码</strong></th> -->
                          <th style="text-align:center"><strong>班级</strong></th>
                          <th style="text-align:center"><strong>专业</strong></th>
                          <th style="text-align:center"><strong>学校</strong></th>
                          <th style="text-align:center"><strong>操作</strong></th>
                        
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of basicTable.data">
                          <!-- <td>{{data.id}}</td> -->
                          <td
                          nzShowCheckbox
                          [(nzChecked)]="mapOfCheckedId[data.Studentid]"
                          [nzDisabled]="data.disabled"
                          (nzCheckedChange)="refreshStatus()"
                          ></td>
                          <td style="text-align:center">{{data.StudentNumber}}</td>
                          <td style="text-align:center">{{data.Studentname}}</td>
                          <td style="text-align:center">{{data.Class}}</td>
                          <td style="text-align:center">{{data.Major}}</td>
                          <td style="text-align:center">{{data.Schooling}}</td>
                          <td style="text-align:center">
                            <!-- <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a> -->
                            <a>
                                  <!-- [queryParams]="{snumber:data.number}" -->
                                <button nz-button nzType = "primary" nzGhost (click)="EditUseropen(data)" ><i class="fa fa-edit"></i></button>
                            </a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>
                                <button nz-button nzType = "danger" nzGhost (click)="deleteUser(data)"><i class="fa fa-close"></i></button>
                            </a>
                          </td>
                      </tr>
                  </tbody>
              </nz-table>
  </div>
  <!-- <div style="margin-top:20px;text-align: center" >
      <nz-pagination [nzPageIndex]="1" [nzTotal]="100"></nz-pagination>
  </div> -->
  <nz-drawer
      [nzClosable]="false"
      [nzWidth]="320"
      [nzVisible]="edit_visible"
      nzTitle="编辑用户内容"
      (nzOnClose)="EditUserclose()"
  >
  <form nz-form>
  <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>学号</nz-form-label>
          <nz-form-control>
            <input nz-input name="number" [(ngModel)]='edit_number' disabled="disabled"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>姓名</nz-form-label>
          <nz-form-control>
            <input nz-input name="name" [(ngModel)]='edit_name'/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>班级</nz-form-label>
          <nz-form-control>
            <input nz-input name="class" [(ngModel)]='edit_class'/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>专业</nz-form-label>
          <nz-form-control>
            <input nz-input name="major" [(ngModel)]='edit_major'/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>学校</nz-form-label>
          <nz-form-control>
            <input nz-input name="schooling" [(ngModel)]='edit_schooling'/>
            <!-- <input nz-input name="role" [(ngModel)]='edit_role'/> -->
            <!--nz-select [(ngModel)]="edit_schooling" name="schooling">
              <!--nzLabel 选中该 nz-option 后，nz-select 中显示的文字-->
              <!--nzValue nz-select 中 ngModel 的值-->
              <!--nz-option *ngFor="let option of SchoolingList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option-->
            <!--/nz-select -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="EditUserclose()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
    <button type="button" (click)="UserDetail_updata()" [disabled]="(edit_number=='')||(edit_name=='')||(edit_class=='')||(edit_major=='')||(edit_schooling=='')" class="ant-btn ant-btn-primary"><span>Submit</span></button>
  </div>

  </nz-drawer>

  <nz-drawer
    [nzClosable]="false"
    [nzWidth]="320"
    [nzVisible]="add_visible"
    nzTitle="新增用户"
    (nzOnClose)="addUserclose()"
  >
  <form nz-form>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>学生账号</nz-form-label>
          <nz-form-control>
            <input nz-input name="loginname" [(ngModel)]='add_loginname'/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>学生手机号</nz-form-label>
          <nz-form-control>
            <input nz-input name="tel" [(ngModel)]='add_tel'/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>学号</nz-form-label>
            <nz-form-control>
              <input nz-input name="number" [(ngModel)]='add_number'/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>姓名</nz-form-label>
            <nz-form-control>
              <input nz-input name="name" [(ngModel)]='add_name'/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>班级</nz-form-label>
            <nz-form-control>
              <input nz-input name="class" [(ngModel)]='add_class'/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>专业</nz-form-label>
            <nz-form-control>
              <input nz-input name="major" [(ngModel)]='add_major'/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>学校</nz-form-label>
            <nz-form-control>
              <input nz-input name="schooling" [(ngModel)]='add_schooling'/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!--div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>学校</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="add_schooling" name="schooling">
                <!--nzLabel 选中该 nz-option 后，nz-select 中显示的文字-->
                <!--nzValue nz-select 中 ngModel 的值-->
                <!--nz-option *ngFor="let option of SchoolingList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div-->
    </form>
    <div class="footer">
      <button type="button" (click)="addUserclose()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
      <button type="button" (click)="UserDetail_insert()" [disabled]="(add_loginname=='')||(add_tel=='')||(add_number=='')||(add_name=='')||(add_class=='')||(add_major=='')||(add_schooling=='')" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>



  </nz-drawer>




</div>